@charset "UTF-8";
/*-- style.scss --*/
/*-- By Togodba Tissébé Jean (Tissébaos) --*/
html, body {
  margin: 0;
  padding: 0;
  background-color: #052555;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Arial Rounded MT", sans-serif;
  text-decoration: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

@keyframes gradientAnimation {
  0% {
    color: #283593;
    text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.3), 2px 2px 6px rgba(0, 0, 0, 0.6);
  }
  50% {
    text-shadow: none;
    color: #D644AD;
  }
  90% {
    text-shadow: none;
    color: #ffffff;
  }
  100% {
    color: #283593;
    text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.3), 2px 2px 6px rgba(0, 0, 0, 0.6);
  }
}
@keyframes radiusAnimation {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: none;
  }
}
header {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(45deg, #D644AD, #283593);
}
header .topbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box !important;
  padding: 0 10%;
  position: relative;
  z-index: 99;
}
header .topbar-nav {
  padding: 20px 0;
}
header .nav-logo {
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  font-family: electrical;
  letter-spacing: 1px;
  color: linear-gradient(45deg, #D644AD, #283593);
}
header .nav-logo span {
  font-size: 20px;
  font-family: julee;
  font-weight: 400;
  display: block;
}
header .nav-menu {
  display: inline-block;
  color: #ffffff;
}
header .nav-menu i {
  font-size: 34px;
  transform: scale(1.2);
  display: inline-block;
}
header .nav-menu i:hover {
  color: #D644AD;
}
header #menu_items,
header .small-screen-navs {
  display: block;
  position: absolute;
  z-index: 90;
  padding: 25vh 20% 0 20%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(55, 36, 103, 0.99);
  text-align: center;
  box-sizing: border-box;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
  top: 0;
  transform-origin: 89% 4%;
  animation: radiusAnimation 1s linear;
  transition: all 0.4s ease;
}
header #menu_items .nav-item,
header .small-screen-navs .nav-item {
  display: inline-block;
  width: 100%;
  margin: 3px 8px 0 8px;
  transition: 0.3s ease;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
header #menu_items .nav-item:hover,
header .small-screen-navs .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #ffffff;
}
header #menu_items .nav-link,
header .small-screen-navs .nav-link {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 0;
  transition: 0.4s ease;
}
header .prevention-container {
  width: 70vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: -15%;
  transform: translateY(-50%);
}
header .overlay {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 50vh solid #ffffff;
  border-right: 50vh solid transparent;
  border-bottom: 50vh solid #ffffff;
  border-left: 50vh solid #ffffff;
  z-index: 2;
}
header .prevention-indicate {
  width: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  z-index: 3;
}
header .prevention-indicate i {
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  color: #283593;
  margin: 25px 0;
  text-shadow: -1px -1px 2px rgba(214, 68, 173, 0.4), 2px 2px 6px rgba(40, 52, 147, 0.2);
  transition: 0.4s ease;
}
header .prevention-indicate i:hover {
  transform: scale(1.2);
}
header .prevention-indicate-image {
  width: 200px;
  box-shadow: -1px -1px 2px white, 2px 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-color: #ffffff;
}
header .prevention-items {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 1.2s ease;
}
header .prevention-item {
  position: absolute;
  display: flex;
  color: #ffffff;
}
header .prevention-item img {
  width: 110px;
}
header .prevention-item div {
  margin: 18px 0 0 20px;
}
header .prevention-item h2 {
  font-size: 18px;
  font-family: electrical;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 20px 0 0 0;
}
header .prevention-item p {
  font-size: 20px;
  margin: 5px 0 0 0;
}
header .item1 {
  top: 46vh;
  right: -45px;
}
header .item2 {
  top: 155px;
  left: 32vh;
  transform: rotate(-90deg);
}
header .item3 {
  bottom: 46vh;
  left: 30px;
  transform: rotate(-180deg);
}
header .item4 {
  bottom: 100px;
  right: 27vh;
  transform: rotate(-270deg);
}
header .filigranne {
  position: absolute;
  right: -20%;
  top: 30%;
  text-align: left;
  transform: rotate(-90deg);
  width: 100vh;
}
header .filigranne h5 {
  color: #ffffff;
  font-family: julee;
  font-size: 25px;
  font-weight: 200;
  position: relative;
}
header .filigranne h5:after {
  content: "";
  position: absolute;
  border: 2px solid #fff;
  width: 200px;
  left: 0;
  display: block;
  margin: 15px 0 0 0;
  border-radius: 5px;
}
header .filigranne h3 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-transform: capitalize;
  font-family: electrical;
  font-size: 90px;
  font-weight: 200;
  animation: gradientAnimation 10s infinite linear;
  transition: all 0.4s ease;
}
header .social-media {
  color: #283593;
  position: absolute;
  bottom: 40px;
  left: 10%;
}
header .social-media a > i {
  font-size: 30px;
  border-radius: 6px;
  color: #283593;
  margin: 0 5px;
  padding: 10px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.1), 1px 1px 6px rgba(0, 0, 0, 0.2);
}

/*
i.mdi {
  display: inline-block;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.3), 2px 2px 6px rgba(0, 0, 0, 0.6);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

i.mdi:hover {
  display: inline-block;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.3) inset, 2px 2px 6px rgba(0, 0, 0, 0.6) inset;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
*/

/*# sourceMappingURL=style.css.map */
